.pageTitle {
  position: relative;
  max-width: 800px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px navy;
}

.calendarGrid {
  display: flex;
  flex-wrap: wrap;
}

.monthItem {
  position: relative;
  width: calc((100% - 15px * 6 - 54px) / 6);
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.75;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:nth-last-child(-n + 7)) {
    margin-bottom: 15px;
  }

  &:not(:nth-child(7n)) {
    margin-right: 15px;
  }
}
